doctype html
html
  head
    title= "Eric Lea"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex,nofollow")
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    link(rel="stylesheet" href="dist/index.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Playfair+Display:400,700|Roboto:400,700")

  body
    nav.hidden
      ul
        li.active
          a.nav-link(href="#header") Top
          div.icon-nav
        //- li
        //-   a.nav-link(href="#about") Career
        //-   div.icon-nav
        //- li.active
        //-   a.nav-link(href="#programming") Programming
        //-   div.icon-nav
        li
          a.nav-link(href="#contact") Contact
          div.icon-nav

    header#header
      .container.header-social-container
        ul.social
          li: a.contact-link(href="https://github.com/bananasavr") GITHUB
          li: a.contact-link(href="http://www.linkedin.com/in/bananasavr") LINKEDIN
          li: a.contact-link(href="http://ericlea.ninja/") FREELANCE
          li: a.contact-link(href="http://instagram.com/bananasaur_") INSTAGRAM
      .container.main-container
        h1 Hello, World
        //- p.title-caption Eric Lea is a full-stack software engineer at Society6, a large-scale eCommerce site serving millions of artists worldwide.
        p.title-caption Site still under construction. Coming Soon!
      a#arrow-icon
        i.material-icons expand_more
      i#menu-icon.material-icons menu

    //- section#about
    //-   .container
    //-     h2 About
    //- section#programming
    //-   .container
    //-     h2 Programming
    section#contact
      .container
        h2 Say Hello!
        p.title-caption
          | I love to make new friends. Feel free to reach out to me on any of my listed profiles.
        p.title-caption
          | For my freelance work, please visit <a class="p-link" href="http://ericlea.ninja">ericlea.ninja</a>.


    footer
      .container
        ul.social
          li: a.contact-link(href="https://github.com/bananasavr") GITHUB
          li: a.contact-link(href="http://www.linkedin.com/in/bananasavr") LINKEDIN
          li: a.contact-link(href="http://ericlea.ninja/") FREELANCE
          li: a.contact-link(href="http://instagram.com/bananasaur_") INSTAGRAM
    script(src="dist/index.js")
