doctype html
html
  head
    title= "Eric Lea"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="noindex,nofollow")
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    link(rel="stylesheet" href="dist/index.css")
    //- link(rel="shortcut icon" href="dist/images/favicon.ico" type="image/x-icon")

  body
    include navigation.pug
    div.image-test

    script(src="dist/index.js")
