// Import
@import '../node_modules/normalize-css/normalize.css';
@import 'colors.less';
@import 'mixins.less';
@import 'resume.less';

// Breakpoints
@bp-lg: 1000px; // desktop
@bp-md: 768px; // tablet and large mobile
@bp-sm: 400px; // mobile

// font-family: 'Roboto', sans-serif;
// font-family: 'Arapey', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Playfair Display', serif;

// Global
html, body {
  font-size: 1em;
  color: @med-gray;
  height: 100%;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: @white;

  &:focus, &:active, &:visited {
    outline: 0;
  }

  &.p-link {
    font-weight: 700;
  }
}

ul {
  padding: 0;

  li {
    list-style-type: none;
  }
}

h1, h2 {
  margin: 2rem 0;
  color: @white;
  font-size: 5rem;
  letter-spacing: -0.1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.container {
  width: 100%;
  max-width: @bp-lg;
  box-sizing: border-box;
  padding: 0px 5%;
}

p.title-caption {
  font-size: 1.7rem;
}

// Navigation
nav {
  opacity: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 120px;
  right: 0;
  .transition('opacity', 0.6s, ease);

  ul li {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    text-align: right;
    padding-right: 20px;

    a {
      flex-shrink: 0;
      width: 100%;
      padding: 0.8rem 12px 0.8rem 0;
      color: @dark-gray;
      font-size: 0.9rem;
      font-weight: 700;
      letter-spacing: -1px;
      font-family: 'Roboto', sans-serif;
      .transition('color', 0.2s, ease);
    }

    .icon-nav {
      flex-shrink: 0;
      height: 2px;
      width: 10px;
      background: @dark-gray;
      .transition('width, background-color', 0.2s, ease);
    }

    &:hover, &.active {
      a {
        color: @white;
        .transition('color', 0.2s, ease);
      }

      .icon-nav {
        width: 24px;
        background: @mint-green;
        .transition('width, background-color', 0.2s, ease);
      }
    }
  }

  &.hidden {
    z-index: -1;
    opacity: 0;
    .transition('opacity', 0.6s, ease);
  }
}

// Header
#header {
  width: 100%;
  display: flex;
  background: @dark-purple2;
  justify-content: center;
  align-items: center;
  position: relative;
  // background: url('test.jpg');

  #menu-icon {
    display: none;
  }

  .header-social-container {
    position: absolute;
    top: 0;
  }

  .main-container {
    padding-right: 15%;
  }
}

#arrow-icon {
  width: 135px;
  height: 135px;
  background: @dark-purple1;
  position: absolute;
  bottom: 0;
  right: 0;
  color: @white;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  outline: 0px;
  .transition(background-color, 0.2s, ease-in-out);

  i {
    font-size: 3rem;
  }

  &:hover {
    background: @mint-green;
    .transition(background-color, 0.2s, ease-in-out);
  }
}

// Sections
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background: @dark-purple1;

  .container {
    padding-right: 150px;
  }
}

#contact {
  padding-top: 15%;
  padding-bottom: 10%;
}

// Footer
footer {
  position: relative;
  display: flex;
  justify-content: center;
  background: @dark-purple2;
}

// Social
ul.social {
  z-index: 1;
  padding: 30px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  li {
    padding-right: 4rem;

    a {
      display: inline-block;
      letter-spacing: 0;
      font-size: 0.8em;
      font-weight: 400;
      color: @med-gray;
      font-family: 'Roboto', sans-serif;
      .transition(color, 0.2s, ease-in-out);

      &:after {
        content: '';
        display: block;
        position: relative;
        width: 0%;
        padding-bottom: 10px;
        border-bottom: 2px solid @mint-green;
        .transition(width, 0.2s, ease-in-out);
      }

      &:hover {
        color: @white;
        .transition(color, 0.2s, ease-in-out);

        &:after {
          width: 101%;
          .transition(width, 0.2s, ease-in-out);
        }
      }
    }
  }
}

// Mobile & Tablet
@media (max-width: @bp-md) {
  html, body {
    font-size: 0.9em;
  }

  #arrow-icon {
    width: 15%;
  }

  #header {
    #menu-icon {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 3rem;
      color: @white;
    }

    .header-social-container {
      padding: 0;
      height: 100%;

      ul.social {
        background: @dark-purple1;
        position: absolute;
        left: -200px;
        width: 200px;
        height: 100%;
        margin: 0;
        flex-direction: column;
        .transition(left, 0.2s, ease-in-out);

        li {
          padding-left: 20px;
          padding-bottom: 30px;
        }
      }

      &.active {
        position: fixed;

        ul.social {
          left: 0px;
          width: 180px;
          .transition(left, 0.2s, ease-in-out);
        }
      }
    }
  }

  footer {
    display: none;
  }
}

@media (max-width: @bp-sm) {
  nav {
    display: none;
  }

  section {
    .container {
      padding: 0 5%;
    }
  }
}
